.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 28px;
}

.title h4 {
  font-size: 25px;
  margin-top: 15px;
}
.buttons {
  display: flex;
  gap: 10px;
}
